<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 py-5 px-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4 col-12">
            <div class="card bg-orange py-4 px-4">
              <div
                class="card-body d-flex flex-column justify-content-md-between justify-content-start"
              >
                <div class="logo mb-lg-3 mb-1">
                  <img
                    src="../assets/images/icon-sedans.svg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="title mb-1">
                  <h1 class="card-title">Sedans</h1>
                </div>
                <div class="description mb-3">
                  <p>
                    Choose a sedan for its affordability and excellent fuel
                    economy .Ideal for cruisin in the city or on your next road
                    trip
                  </p>
                </div>
                <div class="cat">
                  <button class="btn btn-orange py-2 px-4">Learn more</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="card bg-cyan py-4 px-4">
              <div class="card-body d-flex flex-column justify-content-between">
                <div class="logo mb-3">
                  <img
                    src="../assets/images/icon-suvs.svg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="title mb-1">
                  <h1 class="card-title">SUVS</h1>
                </div>
                <div class="description mb-3">
                  <p>
                    Take an SUV for its spacious, interior, power and
                    versatility .Perfect for your next family Vacation and
                    off-road adventures
                  </p>
                </div>
                <div class="cat">
                  <button class="btn btn-cyan py-2 px-4">Learn more</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="card bg-darkCyan py-4 px-4">
              <div class="card-body d-flex flex-column justify-content-between">
                <div class="logo mb-3">
                  <img
                    src="../assets/images/icon-luxury.svg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <div class="title mb-1">
                  <h1 class="card-title">Luxury</h1>
                </div>
                <div class="description mb-3">
                  <p>
                    Cruise in the best car brands without the bloated prices
                    .Enjoy the enhaced comfort of a luxury rental and arrive in
                    style
                  </p>
                </div>
                <div class="cat">
                  <button class="btn btn-darkCyan py-2 px-4">Learn more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
