<mat-toolbar color="primary" class="toolbar">
  <span>Dev Finder</span>
  <mat-slide-toggle color="secondary">Dark Mode</mat-slide-toggle>
</mat-toolbar>

<!-- Search Form -->
<mat-card class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)" class="form-control">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button mat-button color="primary">Search</button>
  </form>
</mat-card>

<mat-card class="example-card" *ngIf="user">
  <mat-card-title-group>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>@ {{ user.login }}</mat-card-subtitle>
    <img mat-card-sm-image [src]="user.avatar_url" />
  </mat-card-title-group>
  <mat-card-content>
    <p *ngIf="user.bio">{{ user.bio }}</p>
    <p *ngIf="!user.bio">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae,
      voluptate.
    </p>
    <div class="content">
      <div>
        <p class="feature">
          <span>Repos </span>
          <span>{{ user.public_repos }}</span>
        </p>
        <p class="feature">
          <span>Followers </span>
          <span>{{ user.followers }}</span>
        </p>
        <p class="feature">
          <span>Following </span>
          <span>{{ user.following }}</span>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
