:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --fontSize: 15px;
  --fontColor: hsla(0, 0%, 100%, 0.75);
  --fontButtonColor: hsl(0, 0%, 95%);
}
