<div class="container-fluid body">
  <div class="row">
    <div class="col-md-8 col-12 mx-auto">
      <div class="card p-3 w-75">
        <p class="api_name">Advice API #{{ randomAdvice.slip.id }}</p>
        <div class="card-body">
          <p class="advice">
            {{ randomAdvice.slip.advice }}
          </p>
          <div class="separator">
            <hr class="my-auto" />
            <span>''</span>
            <hr class="my-auto" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
